.nav-bar ul {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #222;
  color: #eee;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
}

ul li.left {
  margin-right: auto;
  margin-left: 1rem;
}

.nav-bar ul li.gray {
  color: gray;
  word-spacing: -2px;
}

.nav-bar ul li:not(:first-child) {
  margin-left: 10px;
}
/* users */
.users {
  background-color: white;
  box-sizing: border-box;
  margin: 0.25rem;
  width: fit-content;
  text-align: center;
  padding: 0.45rem 1rem;
  box-shadow: 2px 0 3px 0 #888, -2px 0 3px 0 #888, 0 2px 3px 0 #888;
}
img {
  width: 150px;
  height: 140px;
}
.btn {
  background-color: #0466de;
  padding: 3px 4px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: #0f6bda;
  transform: translateY(-1px);
}
.client-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
@media screen and (max-width: 680px) {
  .client-container {
    display: block;
  }
  .users {
    margin: 0 auto;
    margin-bottom: 0.45rem;
  }
  .nav-bar ul {
    font-size: small;
  }
}
@media only screen and (min-width: 681px) and (max-width: 900px) {
  .client-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}
